In [1]:
m = [1,2,3,4]; n=[5,6];m+n

[1, 2, 3, 4, 5, 6]

In [2]:
n*4

[5, 6, 5, 6, 5, 6, 5, 6]

In [3]:
max(m)

4

# LISTS, TUPLES, SETS

## LISTS

# Creating a List
# In Python programming, a list is created by placing all the items (elements) inside a square bracket [ ], separated by commas.
# It can have any number of items 
# and they may be of different types (integer, float, string etc.).

### Creating a List

In [4]:
# empty list
my_list1 = []
print(my_list1)

[]

In [5]:
# list of integers
my_list2 = [1, 2, 3]
print(my_list2)

[1, 2, 3]

In [6]:
# list with mixed datatypes
my_list3 = [1, "Hello", 3.4]
print(my_list3)

[1, 'Hello', 3.4]

In [7]:
# nested list
my_list4 = ["mouse", [8, 4, 6, {1:1,2:4,3:9}], ['a']]
print(my_list4)

['mouse', [8, 4, 6, {1: 1, 2: 4, 3: 9}], ['a']]

### Accessing elements from list

# We can use the index operator [] to access an item in a list. 
# Index in Python starts from 0.
# Trying to access an element other that this will raise an IndexError.
# The index must be an integer. 
# We can't use float or other types, this will result into TypeError.
# Nested list are accessed using nested indexing.

In [8]:
lko = list("Happy")
lko

['H', 'a', 'p', 'p', 'y']

In [9]:
# Indexing:

my_list = ['p','r','o','b','e']

print(my_list[0])
print(my_list[2])
print(my_list[4])

# Error! Only integer can be used for indexing
# my_list[4.0]

p
o
e

In [10]:
# Nested List
n_list = ["Happy", [2,0,1,5]]

# Nested indexing

# Output: a
print(n_list[0][1])    

# Output: 5
print(n_list[1][3])

a
5

In [11]:
# Python allows negative indexing for its sequences.

my_list = ['p','r','o','b','e']

# Output: e
print(my_list[-1])

# Output: p
print(my_list[-5])

e
p

### Slicing a List

In [12]:
message = "Hello Friends !!"

my_list = list(message)

# elements 3rd to 5th
print(my_list[2:5])

# elements beginning to 4th
print(my_list[:-5])

# elements 6th to end
print(my_list[5:])

# elements beginning to end
print(my_list[:])

['l', 'l', 'o']
['H', 'e', 'l', 'l', 'o', ' ', 'F', 'r', 'i', 'e', 'n']
[' ', 'F', 'r', 'i', 'e', 'n', 'd', 's', ' ', '!', '!']
['H', 'e', 'l', 'l', 'o', ' ', 'F', 'r', 'i', 'e', 'n', 'd', 's', ' ', '!', '!']

### Changing or Adding elements in a list

In [13]:
# mistake values
odd = [2, 4, 6, 8]
# change the 1st item    
odd[0] = 1            
# Output: [1, 4, 6, 8]
print(odd)

[1, 4, 6, 8]

In [14]:
# change 2nd to 4th items
odd[1:4] = [3, 5, 7]  

# Output: [1, 3, 5, 7]
print(odd)

[1, 3, 5, 7]

In [15]:
# We can add one item to a list using append() method or add several \
# items using extend() method.
# If we append another list to a main list, it becomes a child list of main list.
# If we extend another list to a main list, all it's items are added into it without nesting.

# appending an item to a list
odd = [1, 3, 5]
odd.append(7)
print(odd)

# appending a list to a list
odd = [1, 3, 5]
odd.append([7,8,9])
print(odd)

[1, 3, 5, 7]
[1, 3, 5, [7, 8, 9]]

In [16]:

# extending an item to a list
odd = [1, 3, 5]
odd.extend([7])
print(odd)

# extending a list to a list
odd = [1, 3, 5]
odd.extend([7,8,9])
print(odd)

[1, 3, 5, 7]
[1, 3, 5, 7, 8, 9]

In [17]:
# We can also use + operator to combine two lists. This is also \
# called concatenation.

# The * operator repeats a list for the given number of times.

odd = [1, 3, 5]

# Output: [1, 3, 5, 9, 7, 5]
print(odd + [9, 7, 5])

#Output: ["re", "re", "re"]
print(["re"] * 3)

[1, 3, 5, 9, 7, 5]
['re', 're', 're']

### Removal of elements from the list

We can delete one or more items from a list using the keyword del. 
It can even delete the list entirely.

In [18]:
sms = "Good Morning group"
smstxt = list(sms)
print(smstxt)

['G', 'o', 'o', 'd', ' ', 'M', 'o', 'r', 'n', 'i', 'n', 'g', ' ', 'g', 'r', 'o', 'u', 'p']

In [19]:
# delete one item
del smstxt[2]
# Output:    
print(smstxt)

['G', 'o', 'd', ' ', 'M', 'o', 'r', 'n', 'i', 'n', 'g', ' ', 'g', 'r', 'o', 'u', 'p']

In [20]:
# delete multiple items
del smstxt[1:5]  

# Output: 
print(smstxt)

['G', 'o', 'r', 'n', 'i', 'n', 'g', ' ', 'g', 'r', 'o', 'u', 'p']

In [21]:
print(smstxt)

['G', 'o', 'r', 'n', 'i', 'n', 'g', ' ', 'g', 'r', 'o', 'u', 'p']

In [22]:
# delete entire list
del smstxt

In [23]:
# NOTE : Expected Error: List not defined
print(smstxt)

NameError: name 'smstxt' is not defined

# We can use remove() method to remove the given item or pop() method to remove an item at the given index.
# The pop() method removes and returns the last item if index is not provided. 
# This helps us implement lists as stacks (first in, last out data structure).
# We can also use the clear() method to empty a list.

In [ ]:
my_list = ['p','e','r','o','b','l','e','m']

In [ ]:
my_list.remove('e')
print(my_list)

In [ ]:
my_list.remove('p')
print(my_list)
# Output: ['r', 'o', 'b', 'l', 'e', 'm']
print(my_list)

In [ ]:
# Output: 'o'
print(my_list.pop(1))

In [ ]:
# Output: ['r', 'b', 'l', 'e', 'm']
print(my_list)

In [ ]:
# Output: 'm'
print(my_list.pop())

In [ ]:
# Output: ['r', 'b', 'l', 'e']
print(my_list)

In [ ]:
my_list.clear()
# Output: []
print(my_list)

In [ ]:
# we can also delete items in a list by assigning an empty list\
# to a slice of elements.
my_list = ['p','r','o','b','l','e','m']
my_list[2:3] = []
my_list

In [37]:
my_list[2:5] = []
my_list

['p', 'r', 'm']

### List Methods

# Methods that are available with list object in Python programming are tabulated below.
# They are accessed as list.method(). 
# Some of the methods have already been used above.

In [24]:
my_list = [3, 8, 1, 6, 0, 8, 4]

In [27]:
# Output: 1
print(my_list.index(8))

1

In [28]:
# Output: 2
print(my_list.count(8))

2

In [29]:
my_list.sort()
# Output: [0, 1, 3, 4, 6, 8, 8]
print(my_list)

[0, 1, 3, 4, 6, 8, 8]

In [30]:
my_list.reverse()
# Output: [8, 8, 6, 4, 3, 1, 0]
print(my_list)

[8, 8, 6, 4, 3, 1, 0]

In [32]:
my_list = [3, 8, 1, 6, 0, 8, 4]
my_list[:].index(8)

1

In [33]:
my_list[2:].index(8)

3

### List Comprehension

List comprehension is an elegant and concise way to create new list from an existing list in Python.

List comprehension consists of an expression followed by for statement inside square brackets.

In [53]:
# Using a for loop we can iterate though each item in a list.

for fruit in ['apple','banana','mango']:
    print("I like",fruit)

I like apple
I like banana
I like mango

In [37]:
m = range(0,20,3)
m

range(0, 20, 3)

In [38]:
my_list = list(m)
my_list

[0, 3, 6, 9, 12, 15, 18]

In [46]:
tp = [x**2+x+1 for x in range(0,5)]
tp

[1, 3, 7, 13, 21]

In [47]:
# Listcomprehension of an existing list
pow1 = [2 ** x for x in my_list]
print(pow1)

# List comprehension of a generated sequence
pow2 = [2 ** x for x in range(10)]
print(pow2)

[1, 8, 64, 512, 4096, 32768, 262144]
[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [48]:
pow3 = [2 ** x for x in range(0,10)]

# Output: [1, 2, 4, 8, 16, 32, 64, 128, 256, 512]
print(pow3)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [49]:
# A list comprehension can optionally contain more for or if statements. 
# An optional if statement can filter out items for the new list.

pow4 = [2 ** x for x in range(10) if x > 5]
print(pow4)

odd = [x for x in range(20) if x % 2 == 1]
print(odd)

[64, 128, 256, 512]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [51]:
combos = [x+' '+y+' '+z for x in ['Python','C'] for y in ['Language','Programming'] for z in ['GroupA', 'GroupB','GroupC']]
print(combos)
print(len(combos))

['Python Language GroupA', 'Python Language GroupB', 'Python Language GroupC', 'Python Programming GroupA', 'Python Programming GroupB', 'Python Programming GroupC', 'C Language GroupA', 'C Language GroupB', 'C Language GroupC', 'C Programming GroupA', 'C Programming GroupB', 'C Programming GroupC']
12

In [52]:
# We can test if an item exists in a list or not, using the keyword in.

my_list = ['p','r','o','b','l','e','m']

# Output: True
print('p' in my_list)

# Output: False
print('a' in my_list)

# Output: True
print('c' not in my_list)

True
False
True

Built-in functions like all(), any(), enumerate(), len(), max(), min(), list(), sorted() etc. are commonly used with list to perform different tasks.

all()	Return True if all elements of the list are true (or if the list is empty).
any()	Return True if any element of the list is true. If the list is empty, return False.
enumerate()	Return an enumerate object. It contains the index and value of all the items of list as a tuple.
len()	Return the length (the number of items) in the list.
list()	Convert an iterable (tuple, string, set, dictionary) to a list.
max()	Return the largest item in the list.
min()	Return the smallest item in the list
sorted()	Return a new sorted list (does not sort the list itself).
sum()	Return the sum of all elements in the list.

In [55]:
fruits = ['apple','banana','mango',False]
logix = [True,False,'Mango']
logix2 = []

In [59]:
all(logix)

False

In [58]:
sorted(odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

## TUPLES

### Creating Tuples

A tuple is created by placing all the items (elements) inside a parentheses (), separated by comma. 

The parentheses are optional but is a good practice to write it.

A tuple can have any number of items and they may be of different types (integer, float, list, string etc.).

In [60]:
# empty tuple
# Output: ()
my_tuple = ()
print(my_tuple)

()

In [61]:
# tuple having integers
# Output: (1, 2, 3)
my_tuple = (1, 2, 3)
print(my_tuple)

(1, 2, 3)

In [62]:
# tuple with mixed datatypes
# Output: (1, "Hello", 3.4)
my_tuple = (1, "Hello", 3.4)
print(my_tuple)

(1, 'Hello', 3.4)

In [63]:
# nested tuple
# Output: ("mouse", [8, 4, 6], (1, 2, 3))
my_tuple = ("mouse", [8, 4, 6], (1, 2, 3))
print(my_tuple)

('mouse', [8, 4, 6], (1, 2, 3))

In [89]:
my_tuple[2][0] = 5
my_tuple

TypeError: 'str' object does not support item assignment

In [71]:
# tuple can be created without parentheses
# also called tuple packing
# Output: 3, 4.6, "dog"

my_tuple = 3, 4.6, "dog"
print(my_tuple)

(3, 4.6, 'dog')

In [72]:
# tuple unpacking is also possible
# Output:
# 3
# 4.6
# dog
a, b, c = my_tuple
print(a)
print(b)
print(c)

3
4.6
dog

In [79]:
tups = 5,6
print(tups)
print(type(tups))

(5, 6)
<class 'tuple'>

In [80]:
# Creating a tuple with one element is a bit tricky.
# Having one element within parentheses is not enough. 
# We will need a trailing comma to indicate that it is in fact a tuple.

# only parentheses is not enough
# Output: <class 'str'>
my_tuple = ("hello")
print(type(my_tuple))

# need a comma at the end
# Output: <class 'tuple'>
my_tuple = ("hello",)  
print(type(my_tuple))

# parentheses is optional
# Output: <class 'tuple'>
my_tuple = "hello",
print(type(my_tuple))

<class 'str'>
<class 'tuple'>
<class 'tuple'>

### Accessing Elements in a Tuple

In [81]:
word1 = "permit"
my_tuple = tuple(word1)
my_tuple

('p', 'e', 'r', 'm', 'i', 't')

In [87]:
print(my_tuple[0])
print(my_tuple[5])

# index must be in range, so below hidden line could give an error
#print(my_tuple[6])
# index must be an integer
# TypeError: list indices must be integers, not float
# below hidden line could give an error
#my_tuple[2.0]

p
t

In [90]:
# nested tuple
n_tuple = ("mouse", [8, 4, 6], (1, 2, 3))

# nested index
# Output: 's'
print(n_tuple[0][3])

# nested index
# Output: 4
print(n_tuple[1][1])

s
4

In [91]:
# Negative Indexing

my_tuple = ('p','e','r','m','i','t')

# Output: 't'
print(my_tuple[-1])

# Output: 'p'
print(my_tuple[-6])

t
p

In [102]:
# We can access a range of items in a tuple by using the slicing operator - colon ":".

word2 = "Brilliant"
my_tuple = tuple(word2)

# elements 2nd to 4th
# Output: ('r', 'i', 'l')
print(my_tuple[1:4])

# elements beginning to 2nd
# Output: ('B', 'r')
print(my_tuple[:-7])

# elements 8th to end
# Output: ('n', 't')
print(my_tuple[7:])

# elements beginning to end
# Output: ('B', 'r', 'i', 'l', 'l', 'i', 'a', 'n', 't')
print(my_tuple[:])

# elements end to beginning
# Output: ('t', 'n', 'a', 'i', 'l', 'l', 'i', 'r', 'B')
print(my_tuple[::-1])

('r', 'i', 'l')
('B', 'r')
('n', 't')
('B', 'r', 'i', 'l', 'l', 'i', 'a', 'n', 't')
('t', 'n', 'a', 'i', 'l', 'l', 'i', 'r', 'B')

### Changing the Tuples

Unlike lists, tuples are immutable.

This means that elements of a tuple cannot be changed once it has been assigned. 

But, if the element is itself a mutable datatype like list, its nested items can be changed.

We can also assign a tuple to different values (reassignment).

In [104]:
my_tuple = (4, 2, 3, [6, 5])

# we cannot change an element
# If you uncomment line 8
# you will get an error:
# TypeError: 'tuple' object does not support item assignment

#my_tuple[1] = 9

# but item of mutable element can be changed
# Output: (4, 2, 3, [9, 5])
my_tuple[3][0] = 9
print(my_tuple)

# tuples can be reassigned
# Output:
my_tuple = "Hello",
print(my_tuple)

(4, 2, 3, [9, 5])
('Hello',)

In [105]:
# We can use + operator to combine two tuples. This is also called concatenation.
# We can also repeat the elements in a tuple for a given number of times using the * operator.
# Both + and * operations result into a new tuple.

# Concatenation
# Output: (1, 2, 3, 4, 5, 6)
print((1, 2, 3) + (4, 5, 6))

# Repeat
# Output: ('Repeat', 'Repeat', 'Repeat')
print(("Repeat",) * 3)

(1, 2, 3, 4, 5, 6)
('Repeat', 'Repeat', 'Repeat')

In [106]:
# As discussed above, we cannot change the elements in a tuple. 
# That also means we cannot delete or remove items from a tuple.
# But deleting a tuple entirely is possible using the keyword del.

my_tuple = tuple("Mumbai Times")
my_tuple
# can't delete items
# if you uncomment line 12,
# you will get an error:
# TypeError: 'tuple' object doesn't support item deletion

#del my_tuple[3]
my_tuple

# can delete entire tuple
# NameError: name 'my_tuple' is not defined
del my_tuple
my_tuple

NameError: name 'my_tuple' is not defined

### Methods with Tuples.

In [107]:
# Methods that add items or remove items are not available with tuple. Only the following two methods are available.
# ‘count(x)’ : Return the number of items that is equal to x.
# ‘index(x)’ : Return index of first item that is equal to x.

my_tuple = ('a','p','p','l','e',)

# Count
# Output: 2
print(my_tuple.count('p'))

# Index
# Output: 3
print(my_tuple.index('l'))

2
3

### Tuples Operations' examples

In [108]:
# We can test if an item exists in a tuple or not, using the keyword in.

my_tuple = ('a','p','p','l','e',)

# In operation
# Output: True
print('a' in my_tuple)

# Output: False
print('b' in my_tuple)

# Not in operation
# Output: True
print('g' not in my_tuple)

True
False
True

In [109]:
# Using a for loop we can iterate though each item in a tuple.

# Output: 
# Hello John
# Hello Kate
for name in ('John','Mary'):
     print("Hello",name)

Hello John
Hello Mary

## SETS

### Creating a set

A set is created by :
** placing all the items (elements) inside curly braces {}, separated by comma.
** Using set() function.

In [112]:
# set of integers
my_set = {1, 2, 3}
print(my_set)
X = (1,2,3)
# set of mixed datatypes
my_set = {1.0, "Hello", 1.0, (1, 2, 3),X}
print(my_set)

{1, 2, 3}
{1.0, 'Hello', (1, 2, 3)}

In [113]:
# set do not have duplicates
# Output: {1, 2, 3, 4}
my_set = {1,2,3,4,3,2}
print(my_set)

# set cannot have mutable items
# here [3, 4] is a mutable list
# If you uncomment line #12,
# this will cause an error.
# TypeError: unhashable type: 'list'

# my_set = {1, 2, [3, 4]}

# we can make set from a list
# Output: {1, 2, 3}
my_set = set((1,2,3,2))
print(my_set)

{1, 2, 3, 4}
{1, 2, 3}

Creating an empty set is a bit tricky.

Empty curly braces {} will make an empty dictionary in Python. 

To make a set without any elements we use the set() function without any argument.

In [ ]:
# initialize a with {}
a = {}

# check data type of a
# Output: <class 'dict'>
print(type(a))

In [114]:
# initialize a with set()
a = set(); print(a)

# check data type of a
# Output: <class 'set'>
print(type(a))

set()
<class 'set'>

### Changing a set

Sets are mutable. But since they are unordered, indexing have no meaning.

We cannot access or change an element of set using indexing or slicing. Set does not support it.

We can add single element using the add() method and multiple elements using the update() method.

In [121]:
my_set = {1,3}
print(my_set)
#print(my_set[0])
my_set.add(2)
print(my_set)
my_set.update([2,3,4])
print(my_set)
my_set.update([4,5], {1,6,8}, (9,6))
print(my_set)

{1, 3}
{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 8, 9}

In [ ]:
# initialize my_set
my_set = {1,3}
print(my_set)

# if you uncomment line 9,
# you will get an error
# TypeError: 'set' object does not support indexing

#my_set[0]

# add an element
# Output: {1, 2, 3}
my_set.add(2)
print(my_set)

# add multiple elements
# Output: {1, 2, 3, 4}
my_set.update([2,3,4])
print(my_set)

# add list and set
# Output: {1, 2, 3, 4, 5, 6, 8}
my_set.update([4,5], {1,6,8}, (9,6))
print(my_set)

### Elements Removals from Sets

A particular item can be removed from set using methods, discard() and remove().

The only difference between the two is that, while using discard() if the item does not exist in the set, it remains unchanged. 

But remove() will raise an error in such condition.

In [122]:
# initialize my_set
my_set = {1, 3, 4, 5, 6}
print(my_set)

{1, 3, 4, 5, 6}

In [123]:
# discard an element
# Output: {1, 3, 5, 6}
my_set.discard(4)
print(my_set)

{1, 3, 5, 6}

In [124]:
# remove an element
# Output: {1, 3, 5}
my_set.remove(6)
print(my_set)

{1, 3, 5}

In [125]:
# discard an element
# not present in my_set
# Output: {1, 3, 5}
my_set.discard(2)
print(my_set)

{1, 3, 5}

In [126]:
# remove an element
# not present in my_set
# If you uncomment line 27,
# you will get an error.
# Output: KeyError: 2
my_set.remove(2)

KeyError: 2

Similarly, we can remove and return an item using the pop() method.

Set being unordered, there is no way of determining which item will be popped. It is completely arbitrary.

We can also remove all items from a set using clear().

In [127]:
# initialize my_set
# Output: set of unique elements
my_set = set("HelloWorld")
print(my_set)

{'H', 'W', 'r', 'e', 'l', 'd', 'o'}

In [128]:
# pop an element
# Output: random element
print(my_set.pop())
print(my_set)

H
{'W', 'r', 'e', 'l', 'd', 'o'}

In [132]:
# pop another element
# Output: random element
my_set.pop()
print(my_set)

KeyError: 'pop from an empty set'

In [130]:
# clear my_set
#Output: set()
my_set.clear()
print(my_set)

set()

### Set Operations

Union is performed using | operator. 

Same can be accomplished using the method union().

In [ ]:
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use | operator
# Output: {1, 2, 3, 4, 5, 6, 7, 8}
print(A | B)

In [ ]:

# use union function
A.union(B)
{1, 2, 3, 4, 5, 6, 7, 8}

# use union function on B
B.union(A)
{1, 2, 3, 4, 5, 6, 7, 8}

Intersection is performed using & operator. 

Same can be accomplished using the method intersection().

In [ ]:
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use & operator
# Output: {4, 5}
print(A & B)

In [ ]:

# use intersection function on A
A.intersection(B)
{4, 5}

# use intersection function on B
B.intersection(A)
{4, 5}

Difference is performed using - operator. 

Same can be accomplished using the method difference().

In [ ]:
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use - operator on A
# Output: {1, 2, 3}
print(A - B)

In [ ]:

# use difference function on A
A.difference(B)
{1, 2, 3}

# use - operator on B
B - A
{8, 6, 7}

# use difference function on B
B.difference(A)
{8, 6, 7}

Symmetric difference is performed using ^ operator. 

Same can be accomplished using the method symmetric_difference().

In [ ]:
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use ^ operator
# Output: {1, 2, 3, 6, 7, 8}
print(A ^ B)

In [ ]:

# use symmetric_difference function on A
A.symmetric_difference(B)
{1, 2, 3, 6, 7, 8}

# use symmetric_difference function on B
B.symmetric_difference(A)
{1, 2, 3, 6, 7, 8}

add()	Add an element to a set
clear()	Remove all elements form a set
copy()	Return a shallow copy of a set
difference()	Return the difference of two or more sets as a new set
difference_update()	Remove all elements of another set from this set
discard()	Remove an element from set if it is a member. (Do nothing if the element is not in set)
intersection()	Return the intersection of two sets as a new set
intersection_update()	Update the set with the intersection of itself and another
isdisjoint()	Return True if two sets have a null intersection
issubset()	Return True if another set contains this set
issuperset()	Return True if this set contains another set
pop()	Remove and return an arbitary set element. Raise KeyError if the set is empty
remove()	Remove an element from a set. If the element is not a member, raise a KeyError
symmetric_difference()	Return the symmetric difference of two sets as a new set
symmetric_difference_update()	Update a set with the symmetric difference of itself and another
union()	Return the union of sets in a new set
update()	Update a set with the union of itself and others

In [134]:
# Membership Test
# initialize my_set
my_set = set("apple")
my_set

{'a', 'e', 'l', 'p'}

In [135]:
# check if 'a' is present
# Output: True
print('a' in my_set)

# check if 'p' is present
# Output: False
print('p' not in my_set)

True
False

In [136]:
for letter in set("apple"):
    print(letter)

a
e
l
p

### Frozensets

Frozenset is a new class that has the characteristics of a set, but its elements cannot be changed once assigned. 
While tuples are immutable lists, frozensets are immutable sets.
Sets being mutable are unhashable, so they can't be used as dictionary keys.
On the other hand, frozensets are hashable and can be used as keys to a dictionary.
Can be created by using function frozenset().

In [138]:
# initialize A and B
A = frozenset([1, 2, 3, 4])
B = frozenset([3, 4, 5, 6])

In [139]:
print(A.isdisjoint(B))

print(A.difference(B))

print(A | B)

False
frozenset({1, 2})
frozenset({1, 2, 3, 4, 5, 6})