# pandas module

In [1]:
import numpy as np
import pandas as pd

In [2]:
dict1={
    "name":['harry','rohan','bareilly','antarctica' ],
    "marks":[92, 34, 24, 17],
    "city":['rampur', 'kolkata', 'bareilly', 'antarctica']
}

In [3]:
df=pd.DataFrame(dict1)

In [4]:
df

         name  marks        city
0       harry     92      rampur
1       rohan     34     kolkata
2    bareilly     24    bareilly
3  antarctica     17  antarctica

In [5]:
df.to_csv( 'ravi.csv')

In [6]:
df1=pd.DataFrame(np.random.rand(5,3),index=np.arange(5))

In [7]:
df1

          0         1         2
0  0.375043  0.946173  0.382689
1  0.651496  0.358237  0.294255
2  0.421262  0.455071  0.266747
3  0.041241  0.017370  0.094377
4  0.157566  0.319287  0.986202

In [8]:
df1.to_numpy()

array([[0.37504259, 0.9461726 , 0.38268898],
       [0.65149638, 0.3582366 , 0.29425516],
       [0.42126197, 0.45507068, 0.26674705],
       [0.04124077, 0.01737022, 0.09437734],
       [0.15756616, 0.31928661, 0.98620248]])

In [9]:
df1.T

          0         1         2         3         4
0  0.375043  0.651496  0.421262  0.041241  0.157566
1  0.946173  0.358237  0.455071  0.017370  0.319287
2  0.382689  0.294255  0.266747  0.094377  0.986202

In [10]:
df1.dot(df)

ValueError: matrices are not aligned